<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>個人記帳助手</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">禾泊記帳</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">註冊</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">登入</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">登出</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <h1 class="alert alert-primary">個人記帳助手</h1>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 text-center">
                <button class="btn btn-primary btn-lg w-100 mb-2">新增支出</button>
                <button class="btn btn-primary btn-lg w-100 mb-2">新增收入</button>
                <button class="btn btn-info btn-lg w-100 mb-2">查看報表</button>
                <button class="btn btn-secondary btn-lg w-100 mb-2">編輯類別</button>
                <button class="btn btn-warning btn-lg w-100">登出</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>